.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
}

.skill-card {
  width: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.skill-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skill-name {
  color: #333;
  font-weight: bold;
}

.skill-description {
  color: #666;
  font-size: 0.9em;
}